*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.container {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1 {
    text-align: center;
}

.search {
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    font-size: 24px;
    text-align: center;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #f7f7f72e;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.add:hover {
    background: #7c7c7c6b;
}

.find{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #f7f7f72e;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.main {
    margin-top: 10px;
    height: 292px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list {
    list-style: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
    margin-top: 25px;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.derece {
    margin-top: 18px;
}